@tailwind base;
@tailwind components;
@tailwind utilities;


html { font-size: 16px;}
@media (min-width: 240px) {
   html {font-size: calc(8px + 8 * ((100vw - 240px) / 239));}
}
@media (min-width: 768px) {
   html {font-size: calc(12px + 4 * ((100vw - 768px) / 223));}
}
@media (min-width: 992px) {
   html {font-size: calc(10.67px + 5.33 * ((100vw - 992px) / 448));}
}
@media (min-width: 1440px) {
   html {font-size: 16px;}
}